.font {
  font-family: "Courier";
}

.margin {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-top: 20px;
  background-image: url(https://media.istockphoto.com/id/1263322369/vector/old-film-strip-vector-illustration-scalable-to-any-size.jpg?s=170667a&w=0&k=20&c=DjBGYO4DN7XiWx2SmJQ5B_oU7DRamiMilOaM78iZpNM=);
}

.searchFilms {
  padding-top: 20px;
  padding-bottom: 20px;
}

.watchedFilms {
  padding-top: 20px;
  padding-bottom: 20px;
}
